*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    text-align: center;
    background: pink;
  }
  div{
    width: 200px;
          height: 200px;
          display: block;
          border: 2px solid black;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          background: palegreen;
  }